html {
    background: #B7BF96
}
h1 {
    font-family: 'IM Fell English SC', serif;
}
button {
    font-family: 'IM Fell English SC', serif;
    color: #133A1B;
    border: 2px #133A1B;
    padding: 20vw;
    background-color: #E4DEAE;
    position: fixed;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}
